h1{
    text-align: center;
    background-image: url(./images/coverbg.jpg);
    background-size: cover;
    height: 80vh;
    background-position: left;
    color: white;
    
    font-size: 6rem;
    box-sizing: border-box;
    padding-top: 25vh;

}
section{
    height: 75vh;
}

.album{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.pcard {
    width: 30%


}

.pcard img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

